# Ignore node_modules directory
node_modules

# Ignore logs
*.log

# Ignore the Dockerfile
Dockerfile

# Ignore .git directory
.git

# Ignore .dockerignore
.dockerignore

# Ignore any .env files
*.env

# Ignore .idea directory
.idea